* {
  margin: 2;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  justify-content: center;
}

.app__userHeader {
  background-color: white;
  object-fit: contain;
  padding: 0px 20px;
  margin: 0px 621px 0px 611px;
  display: flex;
  justify-content: space-between;
  max-width: 975px;
}

.app__userHeader .logo-header {
  background: none;
  border: none;
}

.app__userHeader .logo-header:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.app__userHeader h3 {
  font-family: 'Cookie';
  font-size: 2.3em;
  font-weight: bold;
  margin: 15px;
  margin-left: 0px;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__loginContainer {
  display: flex;
}

.app__footer-imageUpload {
  
}